@font-face {
	font-family: 'spriteslovefont';
	src: url(../../assets/fonts/spriteslovefont.woff2) format('woff2'),
	url(../../assets/fonts/spriteslovefont.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}