body {
  background-color: #555557;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  border: 1px solid #000;
  float: left;
  clear: both;
}

#download {
  float: left;
  cursor: pointer;
  color: #ccc;
  padding: 3px;
}

#download:hover {
  color: #fff;
}

/* div, input {     font-size:16px;     font-family:sans-serif;     border:1px solid #000;     border-radius: 5px;     float:left;     padding:5px;     width:50px;     margin:1px 1px;     background-color:#bbb; } input[type='text'] {     font-size:16px;     font-weight:bold;     width:70px;     text-align:center;     background-color:#fff;     padding-bottom:4px; } input[type='button'] {     font-size:16px;     font-weight:bold;     width:110px;     text-align:center;     background-color:#333;     color:#eee;     padding-bottom:4px; } input[type='button']:hover {     background-color:#fff463;     color:#000; } input[type='range'] {     width:100px;     margin:0 0 0 10px; } */

